body {
  background-color: #F1F1EC;
  background-image: ;
  /*background-repeat: space;*/
  background: no-repeat center url("https://raw.githubusercontent.com/sir-Humani/sir-Humani.github.io/master/images/kaue-fonseca.jpg");
  }
